%p #{@application.first_name} #{@application.last_name} je #{@application.gender =~ /Muško|Male/ ? "ispunio" : "ispunila"} prijavnicu za program "#{@application.course.name}", s datumom početka #{l(@application.starts_at, locale: :hr)} Priložen je PDF sa informacijama.
