= simple_form_for [:admin, @album], defaults: {wrapper_tag: :li} do |f|

  %fieldset.inputs
    %ol
      = f.input :name_en
      = f.input :name_hr

  %fieldset.inputs
    %ol
      = f.simple_fields_for :cover_photo, @album.cover_photo || Photo.new do |c|
        = c.input :file do
          = image_tag @album.cover_photo.file_url(:small), height: 100 if @album.cover_photo.present?
          = c.input_field :file
          = c.hidden_field :file_cache

      - if @album.persisted?

        = f.simple_fields_for :photos, Photo.new, child_index: -1 do |p|
          = p.input :file

    - if @album.persisted?
      %ol.photos
        = f.simple_fields_for :photos do |p|
          = render "photo", f: p

  %fieldset.actions
    %ol
      %li= f.button :submit
      %li.cancel= link_to "Done", collection_path
