= simple_form_for [:admin, @album], defaults: {wrapper_tag: :li} do |f|

  %fieldset.inputs
    %ol
      = f.input :name_en
      = f.input :name_hr

  %fieldset.inputs
    %ol
      - if @album.new_record?
        = f.simple_fields_for :cover_photo do |c|
          = c.input :file
      - else
        = f.simple_fields_for :photos, Photo.new do |p|
          = p.input :file

        %ol.photos
          - @album.photos.each do |photo|
            = render "photo", photo: photo

  %fieldset.actions
    %ol
      %li= f.button :submit
      %li.cancel= link_to "Cancel", collection_path
