- @title = "Tweetovi sa Twittera"

%p= link_to "← Natrag", tweets_path

.tweets
  - @tweets.each do |tweet|
    .tweet
      %i.icon-twitter
      = render tweet
      - if tweet.in_database?
        = delete_button "Izbriši", tweet.record
      - else
        = render partial: "form", locals: {tweet: tweet}

= will_paginate(@tweets)
