= simple_form_for @post, defaults: {required: false} do |f|

  = f.input :title_hr
  = f.input :body_hr
  = f.input :title_en
  = f.input :body_en

  .controls
    = f.button :submit, "Spremi"
    = link_to "Odustani", root_path
