- present event do |event_presenter|

  %dl.default
    %dt Naziv
    %dd= event_presenter.name
    %dt Termin
    %dd= event_presenter.date_range
    %dt Program
    %dd= event_presenter.course
    %dt Boja
    %dd= event_presenter.color

  = event_presenter.admin_links if logged_in?
