= simple_form_for @event, defaults: {required: false} do |f|

  = f.input :name_hr
  = f.input :name_en
  = f.input :start_at
  = f.input :end_at
  = f.input :color, as: :select, collection: colors, include_blank: false
  = f.association :course

  .controls
    = f.button :submit, "Spremi"
    = link_to "Odustani", events_path
