- @title = t(".page_title")

= render "form"

= render "search_form"

= link_to t(".refresh"), admin_email_forwards_path, method: :put, class: "btn"

%table.email_forwards
  %tbody
    - @email_forwards.each do |from, tos|
      %tr
        %td= "#{from}@outwardbound.hr"
        %td.arrow= icon("arrow-right")
        %td
          %ul
            = list_of tos do |email, email_forward|
              %span.email= email
              = link_to t(".delete"), [:admin, email_forward], method: :delete, class: "btn"
