- @title = t(".page_title")

= render "form"

= button_to "refresh", admin_email_forwards_path, method: :put

= render "search_form"

%table
  %tbody
    - @email_forwards.each do |from, tos|
      %tr
        %td= "#{from}@outwardbound.hr"
        %td →
        %td
          %ul
            = list_of tos do |email, email_forward|
              = email
              (#{button_to "delete", [:admin, email_forward], method: :delete})
