#carousel.carousel.slide
  .carousel-inner
    - carousel_images.each do |image|
      %div{class: "item #{image[:class]}"}
        = image_tag image[:url], size: "940x300"
        .carousel-caption
          %h4= image[:title]
          %p= image[:subtitle]

  = link_to "‹", "#carousel", class: "carousel-control left", data: {slide: "prev"}
  = link_to "›", "#carousel", class: "carousel-control right", data: {slide: "next"}
