.carousel
  .inner
    - carousel_images.each do |image|
      %div{class: "item #{image[:class]}"}
        = image_tag image[:url], size: "940x300"
        .caption
          %h4.title= image[:title]
          %p.desc= image[:subtitle]

  = link_to content_tag(:span, ""), "#", class: "prev"
  = link_to content_tag(:span, ""), "#", class: "next"
