.carousel
  .inner
    - carousel_images.each do |image|
      %div{class: "item #{image[:class]}"}
        = image_tag image[:url], size: "940x300"
        .caption
          %h4.title= image[:"title_#{I18n.locale}"]
          %p.desc= image[:subtitle]

  = link_to icon("arrow-left"), "#", class: "prev"
  = link_to icon("arrow-right"), "#", class: "next"
