.carousel
  .inner
    %div{class: "item active"}
      = image_tag "carousel/0.jpg", size: "940x300"
    - 19.times do |i|
      %div{class: "item"}
        = image_tag "carousel/#{i + 1}.jpg", size: "940x300"

  = link_to content_tag(:span, ""), "#", class: "prev"
  = link_to content_tag(:span, ""), "#", class: "next"
