- @title = t(".page_title")

- content_for :hero_unit do
  %h1.main_title= t("title")
  %p.lead= t("subtitle")
  = render "carousel"
  = render "intro_video"

- content_for :announcements do
  - if @announcements.any?
    .announcements-list
      .container
        %h2
          = icon("bullhorn")
          Najave

        = render @announcements

.about_items
  = markdown @text.body

.partners
  %ul
    = list_of @important_partners do |partner|
      = link_to partner.url do
        .img= image_tag partner.photo_url(:small)
        .name>= raw partner.name
    %li.rh
      .img= image_tag "partners/rh.png"
