- @title = t(".page_title")

- content_for :hero_unit do
  %h1.main_title= t("title")
  %p.lead= t("subtitle")
  = render "carousel"
  = link_to icon("play"), "http://youtu.be/vocg-ubKYFw", class: "play_video", title: t(".play_video"), target: "_blank"

- if @announcements.any?
  %ul.announcements
    = render @announcements

= render "about"

.partners
  %ul
    = list_of important_partners do |partner|
      %a{href: partner[:href]}
        .img= image_tag "partners/#{partner[:image]}"
        .name>= raw partner[:title]
    %li= link_to image_tag("partners/ured-za-udruge.png"), "http://www.uzuvrh.hr/"
    %li.rh= image_tag("partners/rh.png")
