- @title = t(".page_title")

- content_for :hero_unit do
  %h1
    %span.slabtext= t("title")
  %p.lead
    %span.slabtext= t("subtitle")
  = render "carousel"
  = link_to icon("play"), "http://youtu.be/vocg-ubKYFw", class: "video", target: "_blank"

= render "about"
