- @title = t(".page_title")

- content_for :hero_unit do
  %h1.main_title= t("title")
  %p.lead= t("subtitle")
  = render "carousel"
  = link_to icon("play"), "http://youtu.be/vocg-ubKYFw", class: "play_video", title: t(".play_video"), target: "_blank"

= render "about"

.partners
  %ul
    - important_partners.each do |partner|
      %li
        %a{href: partner[:href]}
          .img= image_tag "partners/#{partner[:image]}"
          .name>= raw partner[:title]

  .rh= image_tag("partners/rh.png")
