- @title = t(".page_title")

- content_for :hero_unit do
  %h1.main_title= t("title")
  %p.lead= t("subtitle")
  = render "carousel"
  = render "intro_video"

- content_for :announcements do
  - if @announcements.any?
    .announcements-list
      .container
        %h2
          = icon("bullhorn")
          Najave

        = render @announcements

= render "about"

.partners
  %ul
    - important_partners.each do |partner|
      %li
        %a{href: partner[:href]}
          .img= image_tag "partners/#{partner[:image]}"
          .name>= raw partner[:title]
