= simple_form_for [:admin, @instructor], defaults: {wrapper_tag: :li} do |f|

  %fieldset.inputs
    %ol
      = f.input :photo do
        .list-inline-block
          = image_tag @instructor.photo_url(:small), height: 100 if @instructor.photo?
          = f.input_field :photo
          = f.hidden_field :photo_cache

      = f.input :name
      = f.input :biography_en, input_html: {rows: 15}
      = f.input :biography_hr, input_html: {rows: 15}

  %fieldset.actions
    %ol
      %li= f.button :submit
      %li.cancel= link_to "Cancel", collection_path
