.attachment
  .fields
    %div
      = f.input :url_hr, as: :string, wrapper: false
      = f.input :name_hr, wrapper: false

    %div
      = f.input :url_en, as: :string, wrapper: false
      = f.input :name_en, wrapper: false

  = f.hidden_field :_destroy
  = link_to icon("cancel-circle"), "#", class: "remove_fields"

.attachment-error= f.error(:base)
