= simple_form_for @post, url: [:admin, @post] do |f|

  %fieldset

    %h2 Sadržaj

    = f.input :title_hr
    = f.input :body_hr

    = f.input :title_en
    = f.input :body_en

    %h2 Slike

    = f.simple_fields_for :photos_attributes do |builder|
      = content_tag :span, f.error(:photos_attributes), class: "error" if f.error(:photos_attributes)
      = builder.input :cover, as: :file
      = builder.input :other, as: :file, input_html: {multiple: true}

    %h2 Prilozi

    = f.simple_fields_for :attachments do |builder|
      = render "attachment_fields", f: builder
    %p= link_to_add_fields "Dodaj prilog".prepend_icon("plus"), f, :attachments

    .form_actions
      = f.button :button, "Spremi", class: "btn-primary"
      = link_to "Odustani", admin_posts_path, class: "btn"
