= simple_form_for [:admin, @post], defaults: {wrapper_tag: :li} do |f|

  %fieldset.inputs
    %ol
      = f.input :title_hr
      = f.input :body_hr, input_html: {rows: 15}

      = f.input :title_en
      = f.input :body_en, input_html: {rows: 15}

      = f.simple_fields_for :cover_photo, @post.cover_photo do |c|
        = c.input :file do
          = c.input_field :file
          = c.hidden_field :file_cache
          = image_tag @post.cover_photo.file_url, height: 100 if @post.cover_photo.file?

  %fieldset.inputs
    %ol
      = f.simple_fields_for :album, @post.album do |a|
        %li
          %label Photos
          = link_to_add_fields "Add photo", a, :photos

        = a.simple_fields_for :photos do |p|
          = render "photo_fields", {f: p}

  %fieldset.inputs.attachments
    %ol
      %li
        %label Attachments
        = link_to_add_fields "Add attachment", f, :attachments

      = f.simple_fields_for :attachments do |a|
        = render "attachment_fields", {f: a}

  %fieldset.actions
    %ol
      %li= f.button :submit
      %li.cancel= link_to "Cancel", collection_path
