= simple_form_for @post, url: [:admin, @post] do |f|

  %fieldset

    = f.input :title_hr
    = f.input :body_hr

    = f.input :title_en
    = f.input :body_en

    = content_tag :span, f.error(:photos_attributes), class: "error" if f.error(:photos_attributes)
    = f.simple_fields_for :photos_attributes do |p|
      = p.input :cover, as: :file
      = p.input :other, as: :file, hint: "Ovdje se može označiti više datoteka (koristeći CTRL ili SHIFT, kao i inače).", input_html: {multiple: true}

    .form_actions
      = f.button :button, "Spremi", class: "btn-primary"
      = link_to "Odustani", admin_posts_path, class: "btn"
