= simple_form_for [:admin, @post], defaults: {wrapper_tag: :li} do |f|

  %fieldset.inputs
    %ol
      = f.simple_fields_for :cover_photo, @post.cover_photo do |c|
        = c.input :file do
          .list-inline-block
            = image_tag @post.cover_photo.file_url(:small), height: 100 if @post.cover_photo.file?
            = c.input_field :file
            = c.hidden_field :file_cache

  %h2 English

  %fieldset.inputs
    %ol
      = f.input :title_en
      = f.input :body_en, input_html: {rows: 15}

  %h2 Croatian

  %fieldset.inputs
    %ol
      = f.input :title_hr
      = f.input :body_hr, input_html: {rows: 15}

  - if @post.persisted?

    = f.simple_fields_for :album do |a|

      %fieldset.inputs
        %ol
          = a.simple_fields_for :photos, Photo.new, child_index: -1 do |p|
            = p.input :file

        %ol.photos
          = a.simple_fields_for :photos do |p|
            = render "photo", f: p

  - else

    %fieldset.inputs
      %ol
        %li.input
          %label Photos
          %p.inline-hints You will be able to add photos after you create the post.

  %fieldset.inputs.attachments
    %ol
      %li
        %label Attachments
        = link_to_add_fields "Add attachment", f, :attachments
        %p.inline-hints You can manage documents #{link_to "here", admin_documents_path}.

      = f.simple_fields_for :attachments do |a|
        = render "attachment_fields", {f: a}

  %fieldset.actions
    %ol
      %li= f.button :submit
      %li.cancel= link_to "Cancel", collection_path
