= simple_form_for [:admin, @post], defaults: {wrapper_tag: :li} do |f|

  %fieldset.inputs
    %ol
      = f.input :hr
      = f.input :title_hr
      = f.input :body_hr, input_html: {rows: 15}

      = f.input :en
      = f.input :title_en
      = f.input :body_en, input_html: {rows: 15}

  %fieldset.inputs
    %ol
      - if @post.new_record?
        = f.simple_fields_for :cover_photo, Photo.new do |c|
          = c.input :file
      - else
        = f.simple_fields_for :cover_photo, @post.cover_photo do |c|
          = c.input :file, label: false do
            = c.input :file, wrapper: false
            = image_tag @post.cover_photo.file_url, height: 100

        = f.simple_fields_for :album, @post.album do |a|
          - @post.album.photos.each do |photo|
            = render "photo", {photo: photo, f: a}

          = a.simple_fields_for :photos, @post.album.photos.new do |p|
            = p.input :file


  %fieldset.actions
    %ol
      %li= f.button :submit, "Save"
      %li.cancel= link_to "Cancel", collection_path
