- @title = "Vijesti"

%h1= @title

.new-post= link_to "Dodaj vijest".prepend_icon("plus"), new_admin_post_path, class: "btn-primary"

%ol.posts-list
  - @posts.each do |post|
    = content_tag_for :li, post do
      = render post

= will_paginate @posts
