= simple_form_for @announcement, url: [:admin, @announcement] do |f|

  %fieldset

    = f.association :post, collection: Post.descending, prompt: "Izaberi..."

    = f.input :content_hr, as: :text, input_html: {maxlength: 255}
    = f.input :content_en, as: :text, input_html: {maxlength: 255}

    = f.input :expires_on

    = f.button :button, "Spremi", class: "btn-primary"
    = link_to "Odustani", admin_announcements_path, class: "btn"
