= simple_form_for [:admin, @carousel_photo], defaults: {wrapper_tag: :li} do |f|

  - if @carousel_photo.new_record?

    %fieldset.inputs
      %ol
        = f.input :file

    %fieldset.actions
      %ol
        %li= f.button :submit
        %li.cancel= link_to "Cancel", collection_path

  - else

    = image_tag @carousel_photo.file_url, id: "cropbox"

    - %w[x y w h].each do |attribute|
      = f.hidden_field "crop_#{attribute}"

    %fieldset.actions
      %ol
        %li= f.button :submit
        %li.cancel= link_to "Cancel", collection_path
