%h1.course_title= smarty_pants course.name

- if course.album
  .course_cover
    .inner
      = image_tag course.cover_photo.url(:medium), alt: course.cover_photo.title

  %p= link_to t("misc.view_gallery").prepend_icon("pictures"), course.album

= markdown course.description

.course_info
  - if course.dates?
    .dates
      = icon("calendar")
      .name= t(".dates")
      .value= markdown course.dates

  - if course.duration?
    .duration
      = icon("clock")
      .name= t(".duration")
      .value= days course.duration

  - if course.min_people? or course.max_people?
    .people
      = icon("users")
      .name= t(".people")
      .value= "#{course.min_people}–#{course.max_people} #{t("misc.people")}"

  - if course.price?
    .price
      = icon("coins")
      .name= t(".price")
      .value= money course.price

- if course.contact?
  .course_contact
    = icon("mail")
    = t(".contact") + ":"
    = mail_to(course.contact) + "."

- if course.applyable?
  .apply_for_course
    = link_to t("misc.apply").append_icon("file-download"), apply_courses_path, class: "application_form"
    %p.send_application_form
      = t(".send_application_form")
      = mail_to("apply@outwardbound.hr") + "."
