- present(post) do |post_presenter|

  %article.post_short
    %header
      %h2= link_to post_presenter.title, post_presenter.post
      = time_tag post_presenter.created_at

    .cover
      = link_to post_presenter.post do
        = image_tag post_presenter.cover_photo.url(:small), alt: post_presenter.cover_photo.title

    .inner
      = post_presenter.short_body

      = link_to t("misc.more"), post_presenter.post, class: "more"
