- present(post) do |post_presenter|

  %article.post_long
    %header
      %h1= post_presenter.title
      = time_tag post_presenter.created_at

    = post_presenter.body

    - if post_presenter.has_photos?
      %h2= t("misc.photos")
      %ul.photos
        - post_presenter.photos.each do |photo|
          %li{class: (photo == post_presenter.cover_photo && "cover")}
            = link_to image_tag(photo.url(:medium), alt: photo.title), photo.url(:large)
