%article.post_long
  %header
    %h1= post.title
    = time_tag post.created_at

  = post.body

  - if post.attachments.any?
    %h2= t("misc.attachments")
    %ul.attachments
      = list_of post.attachments do |attachment|
        = link_to attachment.name.prepend_icon("file-#{attachment.extension.chomp("x")}"), attachment.url

  - if post.photos.any?
    %h2= t("misc.photos")
    %ul.photos
      - post.photos.each do |photo|
        %li{class: (photo == post.photos.first && "cover")}
          = link_to image_tag(photo.file_url(:medium), alt: photo.title), photo.file_url
