%article.post_short
  %header
    = time_tag post.created_at
    %h2= link_to post.title, post_path(post)

  .cover
    = link_to post_path(post) do
      = image_tag post.cover_photo.file_url(:small), alt: post.cover_photo.title

  .inner
    = markdown post.short_body

    = link_to t("misc.more"), post_path(post), class: "more"
