- @title = t(".page_title")

%article
  = image_tag "/images/cover_photo.jpg"

  %header
    %h2 Inside Out – Razmjena mladih
    = time_tag Date.new(2012, 11, 10)

  :markdown
    Od 25. rujna do 6. listopada Hrvatska škola Outward Bound okupila je dvadeset i dvoje mladih ljudi iz pet europskih zemalja, kako bi sudjelovali u međunarodnoj pustolovini zvanoj „*Inside Out* – unutrašnji razvoj kroz aktivnosti na otvorenom“.

    Zajedno su proveli  dvanaest  nezaboravnih dana na *Outward Bound* tečaju, razvijajući vještine i znanja koje su mnogi od njih prije smatrali nedostižnima. Gradili su skloništa, hodali satima, kuhali na otvorenoj vatri, gubili se po velebitskim prostranstvima, pronalazili vlastiti put, rukovali užetima, raspravljali u krugovima, igrali igre, penjali se po stijenama, pomagali jedni drugima i polako ali sigurno gradili moćan tim samouvjerenih mladih ljudi – *The Wild Ones*!

    Novi izazov ih je čekao kada su se spustili s planine: trebali su kao tim organizirati *Inside Out* događaj za djecu otoka Raba. U suradnji s rapskom udrugom mladih „Kocka“ obnovili su dječje igralište na Palitu i na njemu održali *Inside Out* sportske igre sa skupinom lokalne djece. Igre su se sastojale od elemenata nacionalnih igara koje su sudionici predstavili jedni drugima tijekom razmjene. Tako je na jedan dan maleno dječje igralište na Rabu postalo šarolika arena litvanskih, slovenskih, rumunjskih, hrvatskih i latvijskih igara, koje su zajedno stvorile nezaboravnu međunarodnu sportsku slagalicu.

    6. listopada tih dvadeset i dvoje mladih napustili su Rab, odlučni da prenesu svoja moćna iskustva u svoje svakodnevne živote i organiziraju slična sportska događanja u svojim zajednicama, te tako doprinesu poboljšanju kvalitete vlastitih života i života zajednica u kojima žive.

    Projekt je proveden kroz program Mladi na djelu, koji je ovim iznimnim mladim ljudima pružio priliku da rastu i razviju svoje osobne i grupne vještine na jedinstven i inspirativan *Outward Bound* način.

  %p= link_to "Slike", gallery_path("inside-out")

%article
  = image_tag "/images/cover_photo.jpg"

  %header
    %h2 Instruktori HŠOB obnavljaju krovište novog nastavnog središta OB u Lici
    = time_tag Date.new(2012, 9, 1)

  :markdown
    Od ponedjeljka 13.8, do petka 17.8.2012, naš tim instruktora okupio se u malom selu zvanom Veliki Žitnik, nedaleko od Gospića, na zadatku obnove i uređenja okolice novog nastavnog središta Hrvatske škole Outward Bound.

    Stara zgrada lokalne škole čekala je godinama da je netko posjeti, obnovi, uredi i ispuni njene dvorane uzvicima i ambicijama mladih ljudi. Naš tim se dobro pripremio, od starih tenisica i radne odjeće, do zaliha pašte i paštete, bili smo spremni za sve što nas čeka.

    Brzo smo se podijelili u timove, jedan tim je prionuo izgradnji ognjišta i uređenju okolice, razmicanju grmlja i žbunja, te starih greda i crijepova kojih je bilo posvuda. Drugi tim se zaputio na sljeme limenog krova gdje je otpočelo čišćenje i bojanje starog hrđavog lima u nove zaštitne slojeve boje. Sunce je naravno peklo cijelo vrijeme dok smo bili gore, a pljusak bi krenuo tek kad smo nanijeli svježu boju. Tim za sebe činio je Borna, koji je imao kratak ali bitan špiljarski zadatak izvući kamen iz septičke jame, budući je on bio jedini od nas koji to još nije probao u životu.

    Osim krova, koji je dobio svoje nove tri ruke boje, i ostalih fizičih poslova, najbitnije je bilo da su nas mještani dobro primili, svakim susretom pozivajući nas na čašicu, a uvijek su bili spremni pomoći posuđivanjem ljestava, tački i ostalih neophodnih pomagala za rad.

    Cijelu akciju posjetili su i dvoje međunarodnih gostiju, iz Škotske i iz Finske, odakle je došla dirketorica Outward Bounda Finkse, koji su slučajno u to vrijeme bili na godišnjem odmoru u Hrvatskoj. Počastili su nas svojim društvom, velikim količinama čaja te palačinkama koje se dobivaju iz praha!

    Nakon pet dana i nebrojenih prolivenih litara znoja, popijenih litara čaja, cedevite i ostalih napitaka, postigli smo i više nego što smo planirali, te je zgrada sada za korak bliže uporabnoj funkciji. Sljedeća je faza ugradnja kuhinje te bi naša nova škola uskoro mogla biti spremna za prve grupe polaznika HŠOB!

  %p= link_to "Slike", gallery_path("roof-restoring")
