%h2 Vladimir Mesarić

= image_tag "instructors/vladimir-mesaric.jpg", alt: "Vladimir Mesarić"

:markdown
  Glavom i bradom, stup HŠOB-a. Ovaj diplomirani ferovac svoju ljubav prema planinarenju i alpinizmu nije mogao utišati pa je tijekom svoga dugogodišnjeg zalaganja za zdrav život i dobročinstvo postigao pregršt toga, ali najviše smo mu zahvalni na inicijativi osnivanja HŠOB-a. On je: predsjednik HŠOB-a, instruktor alpinizma, aktivni član planinarskog društva HPD Željezničar – Zagreb, instruktor Gorske službe spašavanja, gorski vodič s međunarodnom licencom, organizator alpinističkih/planinarskih/trekking putovanja u svjetska velegorja, suprug, otac, djed, prijatelj, i najvažnije mentor svima nama.

%h2 Lovorka Šimunec

= image_tag "instructors/lovorka-simunec.jpg", alt: "Lovorka Šimunec"

:markdown
  Kao jedna od starosjedilaca, uspješno je odigrala svoju ulogu u osnivanju HŠOB-a i otad u njemu filozofira. Ipak je diplomirala filozofiju. Međutim, to je samo mali dio njezinog osebujnog karaktera. Lovorka, strastvena ljubiteljica mora i svih vodenih aktivnosti, neprekidno radeći ono što voli dobila je titulu CMAS instruktorice ronjenja i instruktorice spasioca. Naša instruktorica zna se i održati na vodi, posebno u kajaku, za što se osposobila u OB Singapuru. Majka i supruga, stigne još i špiljariti, družiti se s kolegama Velebitašima i baviti se svakojakim aktivnostima koje stoje iza HŠOB-a. Instruktorica za poželjeti.

%h2 Ana Armano

= image_tag "instructors/ana-armano.jpg", alt: "Ana Armano"

:markdown
  Instruktorica HŠOB-a Ana nikad ne sjedi, osim na predavanjima: penjanje po stijeni i jedrenje su joj prvi na listi. Alpinizam, osim privatno, još upražnjava i u sklopu planinarskog kluba Željezničar. Obožava prirodu, izazove i otkrivanje novih horizonata, što joj je jedna od zadaća u HŠOB-u, doslovno i figurativno. Zaljubljena u Velebit i uvijek raspoložena otisnuti se na još jedan osmodnevni program. Studira industrijski dizajn a ono malo slobodnog vremena koje nađe popuni jogom i meditacijom. Mlada nada HŠOB-a.

%h2 Čedo Josipović

= image_tag "instructors/cedo-josipovic.jpg", alt: "Čedo Josipović"

:markdown
  Profesor tjelesnog i zdravstvenog odgoja, vrijedan dodatak HŠOB-u. Svoje veliko iskustvo rada s ljudima i boravka u prirodi temelji na 6-godišnjem vođenju Multisporta, centra za sportske aktivnosti i osobni razvoj. Planinar, instruktor speleologije, ljubitelj dobre šale i zabave, u HŠOB-u nam rado služi kao svaka vrsta oslonca. Njegovo mistično jednogodišnje izbivanje u Indiji doprinjelo je spoju istoka i zapada, što se najviše vidi u Čedinom hobiju, za čiju edukaciju se pobrinuo da bude raznovrsna – masaži: klasična, sportska, limfna drenaža, osteopatija, tuina, polarna terapija, shiatsu, rolfing… Sada znate koga je korisno povesti na HŠOB program.

%h2 Juraj Boljat

= image_tag "instructors/juraj-boljat.jpg", alt: "Juraj Boljat"

:markdown
  Obožavatelj prirode i dipl. biolog, Juraj se u divljini osjeća kao doma. No kako svoju struku uzima ‘kao hobi’ slobodan je baviti se brojnim drugim stvarima te je opčinjen vizijom OB-a krenuo putem iskustvene edukacije, spajajući ljubav prema planinama s opsesijom ‘’spašavanja svijeta". U HŠOB je od samog početka škole, kao mlađi alpinist i speleolog. Karakterom osebujnog crnog humora i nepopravljivi filozof, u nekim pogledima Juraj je poput planine: tih i miran većinu vremena no kad razveže jezik, ne možete ga ušutkati. Također ima i likovno umjetničku crtu, majstor je u origamiju i crtkaranju a ima oko i za fotografiju. Između ostalog, U HŠOB je zadužen za grafičke materijale i uređenje internet stranice.

%h2 Maja Škrljak

= image_tag "instructors/maja-skrljak.jpg", alt: "Maja Škrljak"

:markdown
  Predana vizionarka i instruktorica Outward Bounda, Maju krase i sljedeći naslovi: dipl. psihologinja, trenerica osobnog razvoja, avanturistica, svjetska putnica. Maja drži da je život njeno slobodno vrijeme. Iza sebe već ima 10 godina ’staža’ u nevladinim i volonterskim organizacijama te treninzima osobnog razvoja. Svoje prve planinarske korake napravila je u PD ‘Velebit’, te kasnije nadogradila u alpinističkom odsjeku PD ‘Željezničar’. Kada ne trčkara po planinama, naći ćete je na podiju: onom plesnom ili za jogu. Uvijek iznova inspirirana filozofijom OB-a, iskreno vjeruje u viziju svijeta koji funkcionira za sve iz ljubavi, brižnosti i suradnje. Vesela i vrijedna, kao prava pčelica, sve što zamisli to i ostvari. Definitivno je želite imati u svom timu, i za edukaciju i za putovanja.

%h2 Marina Brkić

= image_tag "instructors/marina-brkic.jpg", alt: "Marina Brkić"

:markdown
  S obzirom da su glavna Marinina ispiracija i motivacija ljudi, energija i priroda, nije ni čudo da je postala HŠOB instruktoricom. Dugogodišnje iskustvo u radu i obrazovanju djece i odraslih, s posebnim naglaskom na medijaciju u posljednje dvije godine, napravilo je od nje kvalitetnog stručnjaka za prizivanje osobnog potencijala polaznika. Marina s ponosom ponavlja da na programima HŠOB-a uči druge i sebe, od drugih i od sebe. Koliko je ta profesorica hrvatskog jezika i sociologije od akcije dokazuje njezina ljubav prema visinama i vodama, pa je često nalazimo u trku s jednoga na drugo. Dežurni DJ i fotograf udruge, nezaobilazna na svakom druženju.

%h2 Tihana Tamindžić

= image_tag "instructors/tihana-tamindzic.jpg", alt: "Tihana Tamindžić"

:markdown
  Ovu veselu i radoznalu instruktoricu HŠOB-a ne krasi samo avanturistički duh nego i spremnost pomoći drugome. Kako, voli objasniti Tzuovim riječima: „Daj čovjeku ribu i nahranio si ga tog dana. Nauči ga da je ulovi i nahranio si ga doživotno.“ Te vještine njeguje kao trenerica osobnog razvoja i coach u udruzi za osobni razvoj Syncro i član Hrvatske udruge za coaching. Gdje je galama tu je i ona, ponekad je riječ o zabavi a ponekad o žučnim diskusijama. Kao profesorica engleskog i francuskog jezika radom u struci pretočila je teorijska znanja metodike i pedagogije u praksu, a usavršila ih u HŠOB-u. Više od svega voli svjež zrak i smijeh, po mogućnosti serviran zajedno. Zato i jest članica planinarskog društva Velebit. I gorljivi zagovornik ljepote u svakom ljudskom biću.
