= simple_form_for @application, defaults: {required: false} do |f|

  %h2 Podaci o programu

  = f.association :course, prompt: "Izaberite..."
  = f.input :starts_at

  %h2 Podaci o polazniku

  = f.input :first_name
  = f.input :last_name
  = f.input :date_of_birth, start_year: 1900, end_year: Time.now.year, default: Time.now.beginning_of_year
  = f.input :height
  = f.input :weight
  = f.input :gender, collection: ["Muško", "Žensko"], as: :radio_buttons
  = f.input :passport_number
  = f.country_select :country, priority: [:HR, :BA, :CS, :SI]
  = f.input :city
  = f.input :postal_code, as: :string
  = f.input :address
  = f.input :mobile_number, as: :tel
  = f.input :phone_number, as: :tel
  = f.input :occupation
  = f.input :past_experience
  = f.input :boot_size
  = f.input :shirt_size, as: :select, collection: %w[S M L XL], include_blank: false, selected: "M"

  %p Molim vas unesite koliko često se susrećete sa sljedećim aktivnostima (0 - nikada, 1 - ponekad, 2 - često):

  = f.simple_fields_for :sports do |sports_form|
    - sports_form.with_options collection: 0..2, as: :radio_buttons do |sports_form|
      = sports_form.input :swimming
      = sports_form.input :running
      = sports_form.input :rock_climbing
      = sports_form.input :hiking
      = sports_form.input :sailing
      = sports_form.input :canoeing
      = sports_form.input :camping

  %h2 Podaci o kontakt osobi (za hitan slučaj)

  = f.simple_fields_for :contact do |contact_form|
    = contact_form.input :first_name
    = contact_form.input :last_name
    = contact_form.input :city
    = contact_form.input :address
    = contact_form.input :email
    = contact_form.input :relation

  %h2 Medicinski profil polaznika

  %p Imate li neke od sljedećih stanja? Ako da, pojasnite.

  = f.simple_fields_for :health do |health_form|
    - health_form.with_options as: :text do |health_form|
      = health_form.radio_buttons_with_input :heart
      = health_form.radio_buttons_with_input :lungs
      = health_form.radio_buttons_with_input :head
      = health_form.radio_buttons_with_input :mental
      = health_form.radio_buttons_with_input :diabetes
      = health_form.radio_buttons_with_input :malignant
      = health_form.radio_buttons_with_input :allergies
      = health_form.radio_buttons_with_input :bones
      = health_form.radio_buttons_with_input :stomach
      = health_form.radio_buttons_with_input :hospital
      = health_form.radio_buttons_with_input :drugs
      = health_form.radio_buttons_with_input :diet
      = health_form.radio_buttons_with_input :infection
      = health_form.radio_buttons_with_input :vaccination
      = health_form.radio_buttons_with_input :other

  %h2 Oslobađanje od odgovornosti

  :markdown
    Program Hrvatske škole Outward Bound obrazovni je program koji uključuje sportove na otvorenom i zatvorenom te druge rekreacijske aktivnosti. Osnovna metoda izvedbe je iskustveno učenje koje pruža mogućnost sudjelovanja u nesvakidašnjim aktivnostima, eksperimentiranje s različitim rješenjima i  ponašanjima, te grupni i individualni rad.

    Aktivnosti mogu uključivati planinarenje, abseiling i aktivnosti s uževljem kao i grupne zadatke koji uključuju fizički napor. Programi su osmišljeni tako da zadovoljavaju potrebe i sposobnosti polaznika. Polaznici ne moraju sudjelovati u svim aktivnostima ako to izričito ne žele, ali moraju biti prisutni. Aktivnostima rukovode kvalificirani i iskusni instruktori koji vode brigu o fizičkoj i psihičkoj sigurnosti polaznika.

    Neke aktivnosti uključuju fizički napor te poznate i nepoznate rizike. Ovime prihvaćam koristiti svu opremu i pribor koju osigurava Hrvatska škola Outward Bound, te izjavljujem da ću se pridržavati propisa i pravila osmišljenih kako bi pomogli sigurnosti svih polaznika.

    Pridržavati ću se uvjeta programa i propisa koji zabranjuju pušenje i konzumiranje alkoholnih pića i droga. U potpunosti ću surađivati s instruktorima i članovima Hrvatske škole Outward Bound. Izjavljujem da su sve gore navedene medicinske informacije ispravne. Trenutno ne patim ni od kakvih akutnih bolesti.

    ### Prihvaćanje rizika

    Svijestan sam da moje sudjelovanje u programu uključuje određeni rizik. Razumijem da moram u potpunosti surađivati s instruktorima i udovoljiti svim sustavima sigurnosti. Zbog toga neću smatrati odgovornima instruktore, članove ni posrednike Hrvatske škole Outward Bound ni za kakve incidente ili gubitak stvari koji se mogu dogoditi za vrijeme izvođenja programa.

    **Nadalje izjavljujem i potvrđujem da sam u potpunosti pročitao i shvatio sve dijelove ovog prijavnog obrasca te da su svi podaci ispravni.**

  = f.input(:accept) { f.check_box :accept }

  .controls
    = f.button :submit, "Prijavite se"
    = link_to "Odustani", back
