= simple_form_for @application, defaults: {required: false} do |f|

  %h2 Course particulars

  = f.association :course, prompt: "Choose..."
  = f.input :starts_at

  %h2 Participant's particulars

  = f.input :first_name
  = f.input :last_name
  = f.input :date_of_birth, start_year: 1900, end_year: Time.now.year, default: Time.now.beginning_of_year
  = f.input :height
  = f.input :weight
  = f.input :gender, collection: ["Male", "Female"], as: :radio_buttons
  = f.input :passport_number
  = f.country_select :country, include_blank: "Choose..."
  = f.input :city
  = f.input :postal_code, as: :string
  = f.input :address
  = f.input :phone_number, as: :tel
  = f.input :email
  = f.input :occupation
  = f.input :past_experience
  = f.input :boot_size
  = f.input :shirt_size, as: :select, collection: %w[S M L XL], include_blank: false, selected: "M"

  %p Please indicate your involvement in the following outdoor interests and sports (0 - none, 1 - sometimes, 2 - frequently)

  = f.simple_fields_for :sports do |sports_form|
    - sports_form.with_options collection: 0..2, as: :radio_buttons do |sports_form|
      = sports_form.input :swimming
      = sports_form.input :running
      = sports_form.input :rock_climbing
      = sports_form.input :hiking
      = sports_form.input :sailing
      = sports_form.input :canoeing
      = sports_form.input :camping

  = f.input :tobacco
  = f.input :alcohol

  %h2 Contact person's particulars (in case of emergency)

  = f.simple_fields_for :contact do |contact_form|
    = contact_form.input :first_name
    = contact_form.input :last_name
    = contact_form.input :city
    = contact_form.input :address
    = contact_form.input :phone_number
    = contact_form.input :relation

  %h2 Participant's medical profile

  %p Do you have any of the following conditions? If yes, please explain.

  = f.simple_fields_for :health do |health_form|
    - health_form.with_options as: :text do |health_form|
      = health_form.radio_buttons_with_input :heart
      = health_form.radio_buttons_with_input :blood_pressure
      = health_form.radio_buttons_with_input :asthma
      = health_form.radio_buttons_with_input :lungs
      = health_form.radio_buttons_with_input :breathing
      = health_form.radio_buttons_with_input :cough
      = health_form.radio_buttons_with_input :headache
      = health_form.radio_buttons_with_input :epilepsy
      = health_form.radio_buttons_with_input :fainting
      = health_form.radio_buttons_with_input :diabetes
      = health_form.radio_buttons_with_input :anxiety
      = health_form.radio_buttons_with_input :depression
      = health_form.radio_buttons_with_input :sleeping
      = health_form.radio_buttons_with_input :mental
      = health_form.radio_buttons_with_input :allergies
      = health_form.radio_buttons_with_input :cancer
      = health_form.radio_buttons_with_input :hospital
      = health_form.radio_buttons_with_input :bones
      = health_form.radio_buttons_with_input :skin
      = health_form.radio_buttons_with_input :pregnancy
      = health_form.radio_buttons_with_input :medication
      = health_form.radio_buttons_with_input :doctor
      = health_form.radio_buttons_with_input :tuberculosis
      = health_form.radio_buttons_with_input :tetanus
      = health_form.radio_buttons_with_input :diet
      = health_form.radio_buttons_with_input :infection
      = health_form.radio_buttons_with_input :vaccines
      = health_form.radio_buttons_with_input :other

  = f.input :insurance, as: :radio_buttons
  %p We advise all participants to purchase traveler's insurance or some form of coverage in case they become sick or need to visit a hospital.

  %h2 Liability waiver

  :markdown
    The Outward Bound program is an educational program involving indoor and outdoor sports and recreational activities. The basic method is learning by experience, which means the possibility to participate in unusual activities, to experiment with different solutions and new behaviours, and to work in a group with other participantsas well as individually.

    The activities can include hiking, climbing, abseiling and ropes-course elements, as well as group tasks that include more or less physical effort. The programs are designed to fit the participants’ needs and abilities. Participants may choose not to actively participate in an activity but they still must be present for all activities.

    The activities are coordinated by qualified, experienced instructors, who take care of both the physical and mental safety of the participants.  

    Some activities involve physical exertion, as well as known and unknown risks. I hereby accept to use all equipment and apparatus provided by Outward Bound Croatia and to comply with any rules and regulations designed to serve the safety and well-being of all participants.

    I shall comply with the training conditions and regulations which include no smoking and consumption of alcoholic drinks and drugs. I shall also fully co-operate with the instructions and staff of the Outward Bound Croatia.

    I declare that all the medical information provided above are true. I am currently not suffering from any acute ailments or diseases.

    ### Acknowledgement of risk

    I am aware that my attendance in the Course involves certain amount of risks. I understand that I will have to co-operate fully with the staff and diligently comply with all safety systems. I shall therefore not hold the Outward Bound Croatia or their servants and agents responsible for any incidents or loss of property which may be sustained by me during the Course.

    **I further declare and confirm that I have read and fully understood all the sections in this course registration form and that all the information provided herein are true.**

  = f.input(:accept) { f.check_box :accept }

  .controls
    = f.button :submit, "Apply"
    = link_to "Cancel", back
