%ol.contact_info
  %li.mobile
    = icon("mobile")
    %span.value +385 91 56 26 744
  %li.home
    = icon("phone")
    %span.value +385 1 644 56 62
  %li.email
    = icon("mail")
    %span.value= mail_to "office@outwardbound.hr"
  %li.address
    = icon("home")
    .adr.inline
      .name Outward Bound Croatia
      .street-adress 3. Cvjetno naselje 20
      %span.postal-code 10000
      %span.locality Zagreb
      .country-name Croatia
