%footer.site_footer
  .container
    .sections
      %section.contact
        %h2= t("misc.contact")
        = render "application/contact"

      %section.social
        %h2= t("misc.social")
        %ol
          %li.facebook
            %a{href: "https://www.facebook.com/outwardboundcroatia", target: "_blank"}
              = icon("facebook")
              %span.name Facebook
          %li.twitter
            %a{href: "https://twitter.com/OutwardBoundCRO", target: "_blank"}
              = icon("twitter")
              %span.name Twitter
          %li.youtube
            %a{href: "http://www.youtube.com/user/OutwardBoundCroatia", target: "_blank"}
              = icon("youtube")
              %span.name YouTube

      %section.tweets
        %h2= t("misc.tweets")
        %ol
          = render collection: @tweets, partial: "tweets/tweet"

    %p.copyright
      #{Date.today.year} © Outward Bound
      ∙ This site was made by <a href="//twitter.com/silvenon">Matija</a> and <a href="//twitter.com/jankomarohnic">Janko</a> Marohnić.
