%footer.site_footer
  .container
    .gw
      %section.contact.g.one-third
        %h2= t("misc.contact")
        = render "contact"

      %section.social.g.one-third
        %h2= t("misc.social")
        %ol
          %li.facebook
            %a{href: "https://www.facebook.com/outwardboundcroatia", target: "_blank"}
              = icon("facebook")
              %span Facebook
          %li.twitter
            %a{href: "https://twitter.com/outwardb", target: "_blank"}
              = icon("twitter")
              %span Twitter
          %li.youtube
            %a{href: "http://www.youtube.com/user/OutwardBoundCroatia", target: "_blank"}
              = icon("youtube")
              %span YouTube

      %section.tweets.g.one-third
        %h2= t("misc.tweets")
        %ol
          = render @tweets

    %p.copyright #{Date.today.year} © Outward Bound
