.navbar
  .container
    = link_to image_tag("logo.png", size: "50x50"), root_path, class: "brand"

    = link_to("#", class: "nav_expander") do
      = icon("menu")
      - navigation_pages.each do |page|
        = page.title if params[:controller] == page.path[:controller]

    %ol.main.nav
      - navigation_pages.each do |page|
        %li{class: (params[:controller] == page.path[:controller] && "active")}
          = link_to page.title, page.path

    - unless admin?
      %ol.lang.nav
        %li{class: english? && "current"}
          = link_to image_tag("lang/GB.png", size: "32x22"), locale: :en
        %li{class: croatian? && "current"}
          = link_to image_tag("lang/HR.png", size: "32x22"), locale: :hr

      = render "newsletter"

    - else
      %ol.log.nav
        %li= link_to t(".log_out").append_icon("exit"), logout_path, method: :delete, class: "log_out"
