= simple_form_for @course, defaults: {required: false} do |f|

  = f.association :category, collection: Category.of_courses, prompt: "Izaberi..."
  = f.input :name_hr
  = f.input :description_hr
  = f.input :name_en
  = f.input :description_en

  .controls
    = f.button :submit, "Spremi"
    = link_to "Odustani", back
