!!!
%html.no-js{lang: I18n.locale}
  %head
    %title Outward Bound &middot; #{@title}
    %meta{charset: "utf-8"}
    %meta{content: "noindex", name: "robots"}
    %link{rel: "authors", href: "humans.txt"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = render "javascript"
    = csrf_meta_tags

  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render "navbar"
    = render "hero_unit"

    .site.container
      = render "layouts/#{controller.send(:sub_layout)}"

    - if content_for? :highlight
      .site_highlight
        .container
          = content_for :highlight

    = render "footer"
    <a href="http://www.freedomain.co.nr/" target="_blank" title="Free Domain Name .co.nr"><img src="http://mcarara.imdrv.net/soof62.gif" width="88" height="31" border="0" alt="Free Domain Name .co.nr" /></a>

    = javascript_include_tag "application"
