!!!
%html{lang: I18n.locale}
  %head
    %title OutwardBound &middot; #{@title}
    %meta{charset: "utf-8"}
    %link{rel: "authors", href: "humans.txt"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      %h1#logo= link_to t("name"), root_path
      %nav
        %ol
          - navigation_pages.each do |page|
            %li{class: (current_page?(page.path) && "active")}
              = link_to page.title, page.path
        %ul
          %li= link_to "English", locale: :en
          %li= link_to "Hrvatski", locale: :hr

      %ul#social
        %li= link_to "Facebook", "https://www.facebook.com/outwardboundcroatia"
        %li= link_to "Twitter", "https://twitter.com/outwardb"
        %li= link_to "YouTube", "http://www.youtube.com/user/OutwardBoundCroatia"

    %div{role: "main"}
      = render "layouts/#{controller.send(:sub_layout)}"
