!!!
%html.no-js{lang: I18n.locale}
  %head
    %title Outward Bound Croatia &middot; #{@title}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "authors", href: "humans.txt"}
    = favicon_link_tag
    = stylesheet_link_tag "application", :"data-turbolinks-track" => true
    = javascript_include_tag "application", :"data-turbolinks-track" => true
    = render "javascript"
    = csrf_meta_tags

  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render "navbar"
    = render "hero_unit"
    = content_for :announcements if content_for? :announcements

    .site.container
      = render partial: "flash", locals: {flash: flash}
      = render "layouts/#{controller.send(:sub_layout)}"

    = render "footer"
