!!!
%html.no-js{lang: I18n.locale}
  %head
    %title Outward Bound &middot; #{@title}
    %meta{charset: "utf-8"}
    %link{rel: "authors", href: "humans.txt"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "//use.typekit.net/tca8gie.js"
    = render "javascript"
    = csrf_meta_tags

  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render "navbar"
    = render "hero_unit"

    .site.container
      = render "layouts/#{controller.send(:sub_layout)}"

    - if content_for? :highlight
      .site_highlight
        .container
          = content_for :highlight

    = render "footer"

    = javascript_include_tag "application"
